body {
  font-family: $type-text;
  font-size: $type-text-size;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $type-heading;
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  font-size: $type-heading-size;
}

h2 {
  font-size: calc($type-heading-size*0.85);
}

h3 {
  font-size: calc($type-heading-size*0.7);
}

h4 {
  font-size: calc($type-heading-size*0.5);
}

h5 {
  font-size: calc($type-heading-size*0.4);
}

h6 {
  font-family: $type-text;
}

p {
  line-height: 1.45;
}

small {
  font-size: calc(1em*0.7);
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

ul {
  text-decoration: underline;
}

blockquote {}

pre {}

code {}

a, a:link, a:visited {}

a:focus, a:active, a:hover {}

hr {
  border: 1px solid #999;
}
